In [1]:
import pandas as pd

FILE_PATH = 'data/household_power_consumption.txt'

df = pd.read_csv(FILE_PATH, delimiter=';', dtype=str)

df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.000
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.000
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.000
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.000
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.000

In [2]:
def join_date_and_time(df):
    df = df.copy()
    df['Date'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%Y %H:%M:%S')
    df = df.drop(['Time'], axis=1)
    return df

df = join_date_and_time(df)

In [3]:
df = df.set_index('Date')
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Date,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.000
2006-12-16 17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.000
2006-12-16 17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.000
2006-12-16 17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.000
2006-12-16 17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.000

In [4]:
def clean(df):
    df = df.copy()
    for col in df.columns:
        #df = df[~df[col].str.contains('?', regex=False)]
        df[col] = df[col].str.replace('?', 'nan', regex=False).astype(float)
        df = df.fillna(method='ffill')
    return df
df = clean(df)

/tmp/ipykernel_13567/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_13567/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_13567/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_13567/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_13567/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_13567/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')
/tmp/ipykernel_13567/1932446633.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='ffill')

In [5]:
def create_time_series_features(df):
    df['hour'] = df.index.hour
    df['dayofweek'] = df.index.dayofweek
    df['quarter'] = df.index.quarter
    df['month'] = df.index.month
    df['year'] = df.index.year
    df['dayofyear'] = df.index.dayofyear
    return df

In [6]:
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
Date,,,,,,,
2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...
2010-11-26 20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2010-11-26 20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2010-11-26 21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2010-11-26 21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2010-11-26 21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [7]:
from sklearn.preprocessing import RobustScaler

transformer = RobustScaler().fit(df)

In [8]:
processed_features = transformer.transform(df)
processed_features = pd.DataFrame(processed_features, columns=df.columns)

In [9]:
df = processed_features.set_index(df.index)

In [10]:
daily_resampled_df = create_time_series_features(df.resample('D').mean())
daily_resampled_df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,hour,dayofweek,quarter,month,year,dayofyear
Date,,,,,,,,,,,,,
2006-12-16,2.019305,-0.080912,-1.234170,2.096566,0.000000,1.378788,0.672906,0,5,4,12,2006,350
2006-12-17,1.444479,0.390059,-0.241078,1.479806,1.411806,2.907639,0.486152,0,6,4,12,2006,351
2006-12-18,0.766805,0.084627,0.054701,0.764333,0.738194,1.820139,0.513807,0,0,4,12,2006,352
2006-12-19,0.459769,0.033019,0.253052,0.465278,0.582639,5.279167,0.194322,0,1,4,12,2006,353
2006-12-20,0.779324,0.080850,0.332833,0.773472,0.000000,1.838889,0.515645,0,2,4,12,2006,354
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-11-22,0.674123,-0.007829,-0.212631,0.682833,3.371528,1.465278,0.355229,0,0,4,11,2010,326
2010-11-23,0.409137,-0.031155,-0.114851,0.414889,1.299306,0.318056,0.252083,0,1,4,11,2010,327
2010-11-24,0.534041,-0.054890,-0.255565,0.529917,0.761111,1.977778,0.440523,0,2,4,11,2010,328
2010-11-25,0.325546,-0.132572,0.133400,0.313889,0.747222,0.295833,0.148366,0,3,4,11,2010,329
2010-11-26,0.477163,-0.029686,-0.188365,0.471259,0.855107,0.304830,0.406409,0,4,4,11,2010,330

In [11]:
target  = 'Global_active_power'

daily_shifted_df = daily_resampled_df.copy()

daily_shifted_df[target] = daily_shifted_df[target].shift(-1)

daily_shifted_df.loc[daily_shifted_df.index[-1], 'Global_active_power'] = 0.0

# LSTM Model

In [12]:
import torch
import numpy as np

FEATURES = ["Global_reactive_power","Voltage","Global_intensity","Sub_metering_1","Sub_metering_2","Sub_metering_3","hour","dayofweek","quarter","month","year","dayofyear"]

TARGET = ["Global_active_power"]

train_df = daily_shifted_df[:'2009-12-31'].fillna(0.0)
test_df = daily_resampled_df['2010-01-01':].fillna(0.0)

X_train = train_df[FEATURES]
y_train = train_df[TARGET] 

X_test = test_df[FEATURES]
y_test = test_df[TARGET] 

X_train = torch.tensor(X_train.values.astype(np.float32))
y_train = torch.tensor(y_train.values.astype(np.float32))

X_test = torch.tensor(X_test.values.astype(np.float32))
y_test = torch.tensor(y_test.values.astype(np.float32))

device = "cuda" if torch.cuda.is_available() else "cpu"

X_train, y_train = X_train.to(device), y_train.to(device)
X_test, y_test = X_test.to(device), y_test.to(device)

In [13]:
from torch import nn

class EnergyModel(nn.Module):
    def __init__(self, num_linear):
        super().__init__()
        self.first_linear = nn.Linear(12, num_linear)
        self.lstm = nn.LSTM(input_size=num_linear, hidden_size=256, num_layers=1, batch_first=True)
        self.linear = nn.Linear(256,1)
    def forward(self, x):
        x = self.first_linear(x)
        x, _ = self.lstm(x)
        x = self.linear(x)
        return x

In [14]:
import torch.optim as optim
import torch.utils.data as data
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_absolute_error


def run_experiment(model, device):
  optimizer = optim.Adam(model.parameters())
  loss_fn = nn.MSELoss()

  model.to(device)

  loader = data.DataLoader(data.TensorDataset(X_train, y_train), shuffle=True, batch_size=1000)

  epoch_count = []
  train_loss_values = []
  test_loss_values = []

  epochs = 400

  for epoch in range(epochs):
      model.train()
      for X_batch, y_batch in loader:
        y_pred = model(X_batch)
        loss = torch.sqrt(loss_fn(y_pred, y_batch))
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
    
      if epoch % 10 != 0:
          continue
    
      model.eval()
      with torch.inference_mode():
          y_pred = model(X_test)
          test_loss = float(np.sqrt(loss_fn(y_pred, y_test).cpu()))
        
          train_loss = loss.cpu().item()

          epoch_count.append(epoch)
          train_loss_values.append(train_loss)
          test_loss_values.append(test_loss)
    

  y_pred = (model(X_test)).cpu().detach().numpy()

  mse = mean_squared_error(y_test.cpu().detach().numpy(), y_pred, squared=False)
  mape = mean_absolute_percentage_error(y_test.cpu().detach().numpy(), y_pred)
  mae = mean_absolute_error(y_test.cpu().detach().numpy(), y_pred)

  return {"MAE": mae, "MAPE": mape, "MSE": mse}

In [15]:
from itertools import product

results = []
n_linear_layer = [2**x for x in range(9)]


#params = list(product(n_neurons_params, n_layers))
params = n_linear_layer

for param in params:
  model = EnergyModel(param)

  result = run_experiment(model, "cuda")
  result["n_linear_layer"] = param
  
  print(result)
  results.append(result)
print("Done")

{'MAE': 0.16933753, 'MAPE': 1.3895558, 'MSE': 0.22483991, 'n_linear_layer': 1}
{'MAE': 0.15963015, 'MAPE': 1.2302256, 'MSE': 0.21426149, 'n_linear_layer': 2}
{'MAE': 0.16510157, 'MAPE': 1.2660282, 'MSE': 0.21785848, 'n_linear_layer': 4}
{'MAE': 0.16600497, 'MAPE': 1.6912527, 'MSE': 0.21998402, 'n_linear_layer': 8}
{'MAE': 0.16888961, 'MAPE': 1.4114122, 'MSE': 0.22464493, 'n_linear_layer': 16}
{'MAE': 0.17066465, 'MAPE': 1.8392197, 'MSE': 0.22423948, 'n_linear_layer': 32}
{'MAE': 0.22666298, 'MAPE': 3.663383, 'MSE': 0.290435, 'n_linear_layer': 64}
{'MAE': 0.22834785, 'MAPE': 3.762844, 'MSE': 0.29247472, 'n_linear_layer': 128}
{'MAE': 0.22677848, 'MAPE': 3.6686153, 'MSE': 0.29054976, 'n_linear_layer': 256}
Done

In [19]:
results_df = pd.DataFrame(results)

results_df

        MAE      MAPE       MSE  n_linear_layer
0  0.169338  1.389556  0.224840               1
1  0.159630  1.230226  0.214261               2
2  0.165102  1.266028  0.217858               4
3  0.166005  1.691253  0.219984               8
4  0.168890  1.411412  0.224645              16
5  0.170665  1.839220  0.224239              32
6  0.226663  3.663383  0.290435              64
7  0.228348  3.762844  0.292475             128
8  0.226778  3.668615  0.290550             256

In [20]:
results_df.sort_values(by="MAE")

        MAE      MAPE       MSE  n_linear_layer
1  0.159630  1.230226  0.214261               2
2  0.165102  1.266028  0.217858               4
3  0.166005  1.691253  0.219984               8
4  0.168890  1.411412  0.224645              16
0  0.169338  1.389556  0.224840               1
5  0.170665  1.839220  0.224239              32
6  0.226663  3.663383  0.290435              64
8  0.226778  3.668615  0.290550             256
7  0.228348  3.762844  0.292475             128

In [18]:
results_df.to_csv("fine-tuned-results-1.csv")